@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/orange";
@import "./themes/dark";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

* {
  scrollbar-color: var(--card-bg) var(--inverted-primary-color);
  scrollbar-width: 10px;
}

body.redesigned {
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
  border: 3px solid var(--primary-color);
}
