.listBox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline-color: transparent;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 1000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);

  &.top {
    bottom: 100%;
  }
}

.item {
  padding: 10px 20px;
  cursor: pointer;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.active {
  background: var(--inverted-primary-color);
}
