.item {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  opacity: 1;
  transition: 0.2s opacity;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
  }
}

.itemRedesigned {
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 100%;
}

.collapsedRedesigned {
  justify-content: center;
  padding: 0;

  .link {
    opacity: 0;
    width: 0;
    margin: 0;
  }
}

.active {
  background: linear-gradient(89.97deg, rgb(29 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    left: 0;
    background: var(--accent-redesigned);
    height: 100%;
  }
}
