.BIG {
  margin-bottom: 20px;

  .img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }

  .textBlock {
    max-height: 72px;
    overflow-y: hidden;
  }
}

.SMALL {
  width: 230px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;

    p {
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
