.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 6px 15px;

  &:hover {
    color: var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddon {
  padding: 0 16px;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  border-radius: 34px;
}

.outline {
  background: none;
  outline: none;
  border-radius: 34px;

  &.normal {
    border: 2px solid var(--icon-redesigned);

    &:hover {
      border: 2px solid var(--accent-redesigned);
    }
  }

  &.error {
    border: 2px solid var(--cancel-redesigned);

    &:hover {
      opacity: 0.7;
    }
  }

  &.success {
    border: 2px solid var(--save-redesigned);

    &:hover {
      opacity: 0.7;
    }
  }
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.square {
  padding: 0;

  &.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }

  &.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
  }

  &.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
  }
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
