.dropdown {
  position: relative;
}

.btn {
  background: none;
  outline-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: 1000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;

  &.top-left {
    bottom: 100%;
    left: 0;
  }

  &.top-right {
    bottom: 100%;
    right: 0;
  }

  &.bottom-left {
    left: 0;
  }

  &.bottom-right {
    right: 0;
  }
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}
