.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 2px solid var(--icon-redesigned);
  height: 38px;
  width: 100%;
}

.s {
  height: 32px;
}

.m {
  height: 38px;
}

.l {
  height: 44px;
}

.addonLeft,
.addonRight {
  display: flex;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}

.focused {
  border: 2px solid var(--accent-redesigned);

  .addonLeft svg,
  .addonRight svg {
    color: var(--accent-redesigned);
  }
}

.input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  color: var(--text-redesigned);
  text-shadow: 0 0 0 var(--primary-color);

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: 0.7;
}
